.theo-footer {
}

.theo-footer a[href]:not(:has(.theo-icon-button)),
.theo-footer a[tel]:not(:has(.theo-icon-button)) {
  display: inline-block;
  font-weight: var(--light-weight);
  font-size: 1.4rem;
  color: var(--link-colour);
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.theo-footer a[href]:after,
.theo-footer a[tel]:after {
  content: '';
  inline-size: 100%;
  block-size: 0.2rem;
  display: block;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -2px;
  background: var(--link-interacted-bg);
  z-index: 1;
  transition: height 0.15s, color 0.15s;
}

.theo-footer a[href]:hover,
.theo-footer a[tel]:hover,
.theo-footer a[href]:focus,
.theo-footer a[tel]:focus {
  color: var(--link-interacted-colour);
}

.theo-footer a[href]:hover:after,
.theo-footer a[tel]:hover:after,
.theo-footer a[href]:focus:after,
.theo-footer a[tel]:focus:after {
  z-index: -1;
  block-size: 112%;
  transition: height 0.15s, color 0.15s;
}

@media (width > 960px) {
  .theo-footer a[href],
  .theo-footer a[tel] {
    font-size: 2rem;
  }
  .theo-footer a[href]:after,
  .theo-footer a[tel]:after {
    block-size: 0.5rem;
  }
}
