.theo-loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: var(--loader-bg);
  box-shadow: 0 0 0.1rem var(--loader-shadow);
  box-sizing: border-box;
  animation: animFw 8s linear infinite;
}
.theo-loader::after,
.theo-loader::before {
  content: '';
  width: 1rem;
  height: 0.1rem;
  background: var(--loader-bg);
  position: absolute;
  top: 0.9rem;
  right: -0.2rem;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  animation: coli1 0.3s linear infinite;
}
.theo-loader::before {
  top: -0.4rem;
  transform: rotate(45deg);
  animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}
