:root {
  --exquisite-eggplant: rgb(246, 242, 239);
  --light-exquisite-eggplant: rgb(55, 51, 57);
  --dark-exquisite-eggplant: rgb(212, 196, 182);
  --terra-pin: rgb(142, 121, 111);
  --natural-choice: rgb(168, 0, 9);
  --butternut-squash: rgb(18, 17, 19);
  --june-bud: rgb(162, 190, 237);
}
