:root {
  --exquisite-eggplant: 246, 242, 239;
  --light-exquisite-eggplant: 55, 51, 57;
  --dark-exquisite-eggplant: 212, 196, 182;
  --terra-pin: 142, 121, 111;
  --natural-choice: 168, 0, 9;
  --butternut-squash: 18, 17, 19;
  --june-bud: 162, 190, 237;
  --crimson-croak: 168, 0, 9;
  --aurora-romulus: 151, 76, 80;
  --grave-grit: 167, 166, 172;
  --gunk-gaul: 51, 50, 57;
  --abiding-answer: 144, 144, 144;
  --abject-abbyss: 0, 0, 0;
}
