:root:has([data-theme='default']) {
  --page-background: rgba(var(--butternut-squash), 0.5);
  --text-colour: rgba(var(--exquisite-eggplant), 1);
  --button-bg: rgba(var(--dark-exquisite-eggplant), 1);
  --button-colour: rgba(var(--natural-choice), 1);
  --button-interacted-colour: rgba(var(--june-bud), 1);
  --button-interacted-bg: rgba(var(--light-exquisite-eggplant), 1);
  --link-colour: var(--text-colour);
  --link-interacted-colour: rgba(var(--light-exquisite-eggplant), 1);
  --link-interacted-bg: rgba(var(--june-bud), 1);
  --section-bg: rgba(var(--terra-pin), 0.32);
  --gallery-bg: rgba(var(--light-exquisite-eggplant), 0.68);
  --product-bg: rgba(var(--aurora-romulus), 0.4);
  --model-colour: rgba(var(--dark-exquisite-eggplant), 1);
  --drawer-bg: rgba(var(--butternut-squash), 1);
  --disabled-btn-bg: rgba(var(--gunk-gaul), 1);
  --disabled-btn-colour: rgba(var(--grave-grit), 1);
  --border-radius: 8px;
  --text-shadow: rgba(var(--abject-abbyss), 1);
  --separator-bg: linear-gradient(
    to left,
    rgba(var(--abiding-answer), 0) 0%,
    rgba(var(--abiding-answer), 1) 20%,
    rgba(var(--exquisite-eggplant), 1) 50%,
    rgba(var(--abiding-answer), 1) 80%,
    rgba(var(--abiding-answer), 0) 100%
  );
}

html {
  block-size: 100vh;
}

body {
  min-block-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-colour);
  background-attachment: fixed;
  background-image: url('assets/mobileBg.webp');
  position: relative;
  z-index: 0;
}

body:before {
  content: '';
  z-index: -1;
  display: block;
  position: fixed;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--page-background);
}

@media (width > 960px) {
  body {
    background-image: url('assets/tabletBg.webp');
  }
}

@media (width > 1140px) {
  body {
    background-image: url('assets/desktopBg.webp');
  }
}
