.theo-icon-button {
  color: var(--button-colour);
  background: var(--button-bg);
  inline-size: auto;
  border: none;
  border-radius: 50%;
  display: flex;
  padding: 1.22rem;
}

.theo-icon-button:hover,
.theo-icon-button:focus {
  color: var(--button-interacted-colour);
  background: var(--button-interacted-bg);
  cursor: pointer;
}

.theo-icon-button[disabled] {
  background: var(--disabled-btn-bg);
  color: var(--disabled-btn-colour);
  cursor: default;
  opacity: 0.7;
}
