.theo-hero {
  position: relative;
  border-block-start-width: 0.4rem;
  border-block-end-width: 0.4rem;
  border-image-source: var(--separator-bg);
  border-image-slice: 1;
  border-style: solid;
  text-align: center;
  padding: 1rem 0;
}

@media (width > 700px) {
  .theo-hero {
    padding: 0;
  }
}

.theo-hero__heading {
  font-size: 2.2rem;
  font-weight: var(--semibold-weight);
  position: relative;
  text-shadow: 0.2rem 0.2rem var(--text-shadow);
  margin: 0 0 2rem 0;
  padding: 0 1rem;
}

@media (width > 700px) {
  .theo-hero__heading {
    inset-block-end: 15rem;
    padding: 0 2rem;
    margin: 0;
    position: absolute;
  }
}

@media (width > 1140px) {
  .theo-hero__heading {
    font-size: 3.2rem;
    inset-block-end: 15rem;
  }
}

.theo-hero .theo-button {
  position: relative;
  inset-inline-start: 1rem;
  inset-inline-end: 1rem;
}

@media (width > 700px) {
  .theo-hero .theo-button {
    position: absolute;
    inline-size: auto;
    inset-block-end: 6rem;
    inset-inline-start: auto;
    inset-inline-end: auto;
    transform: translateX(-50%);
  }
}

.theo-hero__figure {
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  z-index: -1;
}

.theo-hero__figure .pure-img {
  object-fit: cover;
  height: 100%;
}

@media (width > 700px) {
  .theo-hero__figure {
    position: relative;
  }
}
