html {
  /* background-image: url("../../assets/mobileBg.webp"); */
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (width > 1194px) {
  html {
    background-image: url("../../assets/tabletBg.webp");
  }
}

@media (width > 1140px) {
  html {
    background-image: url("../../assets/desktopBg.webp");
  }
}

body {
  min-height: 100%;
}
